@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  body > div:first-child,
  div#__next,
  div#__next > div {
    @apply h-full;
  }

  html, body {
    overflow: hidden;
  }
}

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  .preserve-linebreaks {
    white-space: pre-wrap;
  }
  
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --primary: 259 82% 56%; /* #7735e9 */
    --primary-hover: 259 82% 50%;
    --primary-light: 256 96% 96%; /* lighter purple */
    --primary-foreground: 0 0% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 20% 97%; /* #f5f8fa */
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 232 78% 71%; /* #677be6 */
    --accent-foreground: 0 0% 98%;
    --destructive: 358 100% 64%; /* #FF474C */
    --destructive-hover: 358 100% 54%;
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 259 82% 56%;
    --chart-1: 256 96% 63%;
    --chart-2: 232 78% 71%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    
    /* Custom Status Colors */
    --success: 142.1 76.2% 36.3%; /* Pastel Green */
    --success-foreground: 142.1 76.2% 20.3%;
    --warning: 51 86% 64%; /* Pastel Yellow */
    --warning-foreground: 51 50% 20%;
    --danger: 358 100% 64%; /* #FF474C */
    --danger-foreground: 0 0% 98%;


    --sidebar-background: 228 70% 10%; /* #090f2a */
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 256 96% 63%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 217.2 32.6% 17.5%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217.2 32.6% 17.5%;
    --sidebar-ring: 256 96% 63%;
  }
  .dark {
    --background: 0 0% 0%;
    --foreground: 210 40% 98%;
    --card: 220 4% 10%;
    --card-foreground: 210 40% 98%;
    --popover: 220 4% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 259 82% 56%;
    --primary-hover: 259 82% 50%;
    --primary-light: 256 96% 20%; /* darker purple */
    --primary-foreground: 210 40% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 240 2% 12%; /* #1f1f21 */
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 232 78% 71%;
    --accent-foreground: 210 40% 98%;
    --destructive: 358 100% 64%; /* #FF474C */
    --destructive-hover: 358 100% 54%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 2% 18%;
    --input: 217.2 32.6% 17.5%;
    --ring: 259 82% 56%;
    --chart-1: 256 96% 63%;
    --chart-2: 232 78% 71%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    /* Custom Status Colors */
    --success: 142.1 76.2% 46.3%; 
    --success-foreground: 142.1 76.2% 86.3%;
    --warning: 51 86% 64%; /* Pastel Yellow */
    --warning-foreground: 51 50% 20%;
    --danger: 358 100% 64%; /* #FF474C */
    --danger-foreground: 0 0% 98%;

    --sidebar-background: 216 28% 7%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 256 96% 63%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 240 2% 24%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 240 2% 18%;
    --sidebar-ring: 256 96% 63%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
